@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.pagination {
  margin-top: 10rem;
  padding-bottom: 8rem;

  .page-item {
    position: relative;
    padding: 0 2rem;

    &.active {
      .page-link {
        color: $primaryColor;
      }
    }

    .prev,
    .next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 6rem;
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      border-radius: 50%;
      color: #fff;
      transition: all 0.3s ease;

      &:hover,
      &:active {
        background-color: #fff;
        color: $primaryColor;
      }
    }

    .prev {
      transform: translate(-100%, -30%);
    }

    .next {
      transform: translate(20%, -30%);
    }
  }

  .page-link {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $semiBold;
    color: $textColor;

    @include resFont(1.6, 2);
    transition: color 0.3s ease;

    &:hover,
    &:active {
      color: $primaryColor;
      cursor: pointer;
    }
  }
}
