@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.pagination {
  margin-top: 10rem;
  padding-bottom: 8rem;

  .page-item {
    position: relative;
    padding: 0 2rem;

    &.active .page-link {
      color: $primaryColor;
    }

    // Common button style
    .prev,
    .next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 6rem;
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      border-radius: 50%;
      color: #fff;
      transition: all 0.5s ease;

      svg {
        width: 2.3rem;
        height: 2.3rem;
        transition: transform 0.6s ease, fill 0.3s ease;
        path {
          fill: currentColor !important;
        }
      }

      &:hover {
        background-color: #fff;
        color: $primaryColor;
      }
    }

    // Specific prev/next behavior
    .prev {
      transform: translate(-100%, -30%);
      svg {
        transform: rotate(180deg);
      }

      &:hover svg {
        animation: arrowSlideLeft 0.4s ease-in-out 1;
      }
    }

    .next {
      transform: translate(20%, -30%);

      &:hover svg {
        animation: arrowSlideRight 0.4s ease-in-out 1;
      }
    }
  }

  // Page number
  .page-link {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $semiBold;
    color: $textColor;
    @include resFont(1.6, 2);
    transition: color 0.3s ease;

    &:hover {
      color: $primaryColor;
      cursor: pointer;
    }
  }
}

// Animation arrow
@keyframes arrowSlideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(120%);
    opacity: 0;
  }
  60% {
    transform: translateX(-120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arrowSlideLeft {
  0% {
    transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
  40% {
    transform: translateX(-120%) rotate(180deg);
    opacity: 0;
  }
  60% {
    transform: translateX(120%) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
}
